In [1]:
# Importing all the required libraries.
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv('dataset_preprocess_ds.csv')

In [3]:
dataset

,Crop/Year,Area_Hectares,Production_Tonnes,District_Name_BEED,District_Name_HINGOLI,District_Name_JALNA,District_Name_LATUR,District_Name_NANDED,District_Name_OSMANABAD,Winter/Summer_Rabi,...,Rice_Niger seed,Rice_Other Rabi pulses,Rice_Other Kharif pulses,Rice_Rice,Rice_Safflower,Rice_Sesamum,Rice_Soyabean,Rice_Sugarcane,Rice_Sunflower,Rice_Wheat
0,2014,32900,8700.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2014,45300,24200.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2014,101675,61475.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2014,4100,900.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2014,3700,1700.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2014,24100,7100.0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
147,2014,1900,800.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
148,2014,1300,NaN,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
149,2014,500,200.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
150,2014,39800,61475.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
dataset.columns

Index(['Crop/Year', 'Area_Hectares', 'Production_Tonnes', 'District_Name_BEED',
       'District_Name_HINGOLI', 'District_Name_JALNA', 'District_Name_LATUR',
       'District_Name_NANDED', 'District_Name_OSMANABAD',
       'Winter/Summer_Rabi       ', 'Winter/Summer_Summer     ',
       'Winter/Summer_Whole Year ', 'Rice_Bajra', 'Rice_Castor seed',
       'Rice_Cotton(lint)', 'Rice_Gram', 'Rice_Groundnut', 'Rice_Jowar',
       'Rice_Linseed', 'Rice_Maize', 'Rice_Moong(Green Gram)',
       'Rice_Niger seed', 'Rice_Other  Rabi pulses',
       'Rice_Other Kharif pulses', 'Rice_Rice', 'Rice_Safflower',
       'Rice_Sesamum', 'Rice_Soyabean', 'Rice_Sugarcane', 'Rice_Sunflower',
       'Rice_Wheat'],
      dtype='object')

In [5]:
#Duplicated rows/entries

In [6]:
dataset[dataset.duplicated()]

Empty DataFrame
Columns: [Crop/Year, Area_Hectares, Production_Tonnes, District_Name_BEED, District_Name_HINGOLI, District_Name_JALNA, District_Name_LATUR, District_Name_NANDED, District_Name_OSMANABAD, Winter/Summer_Rabi       , Winter/Summer_Summer     , Winter/Summer_Whole Year , Rice_Bajra, Rice_Castor seed, Rice_Cotton(lint), Rice_Gram, Rice_Groundnut, Rice_Jowar, Rice_Linseed, Rice_Maize, Rice_Moong(Green Gram), Rice_Niger seed, Rice_Other  Rabi pulses, Rice_Other Kharif pulses, Rice_Rice, Rice_Safflower, Rice_Sesamum, Rice_Soyabean, Rice_Sugarcane, Rice_Sunflower, Rice_Wheat]
Index: []

[0 rows x 31 columns]

In [7]:
dataset.isnull().sum()

Crop/Year                     0
Area_Hectares                 0
Production_Tonnes            16
District_Name_BEED            0
District_Name_HINGOLI         0
District_Name_JALNA           0
District_Name_LATUR           0
District_Name_NANDED          0
District_Name_OSMANABAD       0
Winter/Summer_Rabi            0
Winter/Summer_Summer          0
Winter/Summer_Whole Year      0
Rice_Bajra                    0
Rice_Castor seed              0
Rice_Cotton(lint)             0
Rice_Gram                     0
Rice_Groundnut                0
Rice_Jowar                    0
Rice_Linseed                  0
Rice_Maize                    0
Rice_Moong(Green Gram)        0
Rice_Niger seed               0
Rice_Other  Rabi pulses       0
Rice_Other Kharif pulses      0
Rice_Rice                     0
Rice_Safflower                0
Rice_Sesamum                  0
Rice_Soyabean                 0
Rice_Sugarcane                0
Rice_Sunflower                0
Rice_Wheat                    0
dtype: int64