In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
dataset=dataset.astype(int)

In [7]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [8]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [10]:
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [11]:
dependent=dataset[['charges']]

In [12]:
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
X_test

array([[ 0.89108031, -0.02782381, -0.0755796 ,  1.01127431, -0.49929923],
       [ 0.5336223 , -0.18898509, -0.0755796 , -0.98885138, -0.49929923],
       [ 0.6051139 ,  1.58378898,  0.75672907,  1.01127431,  2.00280702],
       ...,
       [-1.46814257,  0.61682131,  0.75672907, -0.98885138,  2.00280702],
       [-0.82471815,  0.45566003,  1.58903774,  1.01127431, -0.49929923],
       [ 0.89108031,  1.26146642,  0.75672907, -0.98885138, -0.49929923]])

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'criterion':['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],'max_features':['sqrt', 'log2'],
           'n_estimators':[10,50,80,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train,y_train)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

C:\Users\sreet\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 50, 80, 100]},
             verbose=3)

In [19]:
re=grid.cv_results_
print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 80}:

In [22]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.046296,0.000374,0.007837,0.004600,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.781527,0.737492,0.810857,0.803331,0.727471,0.772136,0.033929,32
1,0.206984,0.005499,0.006908,0.006211,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.796602,0.765546,0.832957,0.824687,0.756745,0.795307,0.030513,20
2,0.312371,0.010037,0.009488,0.007783,squared_error,sqrt,80,"{'criterion': 'squared_error', 'max_features':...",0.802866,0.756842,0.830258,0.821287,0.751751,0.792601,0.032539,23
3,0.380265,0.004400,0.016109,0.002421,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.804153,0.761650,0.830733,0.818811,0.757384,0.794546,0.029845,21
4,0.041017,0.004322,0.001916,0.002383,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.782195,0.750688,0.824910,0.811960,0.751935,0.784338,0.030318,27
5,0.196457,0.010502,0.006013,0.007370,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.807489,0.771692,0.837867,0.822414,0.756251,0.799143,0.030673,2
6,0.304528,0.004055,0.012135,0.006108,squared_error,log2,80,"{'criterion': 'squared_error', 'max_features':...",0.811747,0.759299,0.832218,0.824476,0.753988,0.796345,0.033112,17
7,0.392683,0.005164,0.012268,0.003521,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.806450,0.768126,0.832220,0.823035,0.752910,0.796549,0.030933,16
8,0.040645,0.006119,0.006409,0.006638,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.802846,0.736348,0.829777,0.818885,0.750139,0.787599,0.037470,25
9,0.193390,0.005959,0.011207,0.009175,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.800777,0.764806,0.829534,0.826040,0.755700,0.795372,0.030479,19
10,0.310662,0.004634,0.013708,0.005877,friedman_mse,sqrt,80,"{'criterion': 'friedman_mse', 'max_features': ...",0.813837,0.759559,0.826719,0.829706,0.754941,0.796952,0.032885,13
11,0.383665,0.006745,0.017525,0.006685,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.807897,0.761767,0.829578,0.826149,0.759124,0.796903,0.030678,14
12,0.043557,0.004351,0.000000,0.000000,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.814054,0.745709,0.831147,0.794343,0.714403,0.779931,0.043498,29
13,0.190597,0.006347,0.013993,0.003265,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.802155,0.764052,0.827738,0.817312,0.754944,0.793240,0.028870,22
14,0.308839,0.006301,0.013263,0.001707,friedman_mse,log2,80,"{'criterion': 'friedman_mse', 'max_features': ...",0.808454,0.770278,0.820158,0.828438,0.752366,0.795939,0.029518,18
15,0.379727,0.008131,0.018297,0.002865,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.804117,0.766535,0.836457,0.824695,0.753868,0.797135,0.032134,12
16,0.101533,0.009557,0.004854,0.004513,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.786945,0.747059,0.821967,0.820881,0.745001,0.784371,0.033750,26
17,0.473707,0.019973,0.010481,0.006589,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.809083,0.776032,0.841597,0.812154,0.754929,0.798759,0.030195,4
18,0.736448,0.007597,0.009245,0.007552,absolute_error,sqrt,80,"{'criterion': 'absolute_error', 'max_features'...",0.804992,0.768905,0.833359,0.830707,0.764990,0.800590,0.029228,1
19,0.924694,0.010962,0.015359,0.000406,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.804755,0.767742,0.835453,0.821544,0.760430,0.797985,0.029427,8
20,0.092162,0.005972,0.004869,0.006195,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.794105,0.749425,0.830528,0.803338,0.731361,0.781752,0.036282,28
21,0.466492,0.013191,0.004459,0.006151,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.804170,0.769320,0.837986,0.819327,0.752663,0.796693,0.031500,15
22,0.748078,0.006887,0.011967,0.006473,absolute_error,log2,80,"{'criterion': 'absolute_error', 'max_features'...",0.808433,0.775023,0.834871,0.815843,0.756347,0.798103,0.028459,7
23,0.929460,0.011047,0.016360,0.001887,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.807673,0.765959,0.831283,0.823606,0.760673,0.797839,0.029246,10
24,0.086457,0.059152,0.002216,0.004432,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.779736,0.736512,0.799825,0.820604,0.756576,0.778651,0.029909,30
25,0.202453,0.004587,0.010836,0.003317,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.796673,0.770250,0.834026,0.834116,0.759521,0.798917,0.031146,3
26,0.333565,0.005045,0.016456,0.006065,poisson,sqrt,80,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.810154,0.762319,0.829374,0.821689,0.762837,0.797275,0.028983,11
27,0.418046,0.009101,0.017211,0.006292,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.805370,0.768540,0.828945,0.831563,0.757788,0.798441,0.030405,6
28,0.043093,0.006121,0.005613,0.006893,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.772249,0.733610,0.834240,0.783534,0.760992,0.776925,0.033108,31
29,0.213427,0.006884,0.009951,0.006230,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.796928,0.765621,0.818164,0.820166,0.756980,0.791572,0.026166,24
30,0.337348,0.003751,0.010814,0.006343,poisson,log2,80,"{'criterion': 'poisson', 'max_features': 'log2...",0.801828,0.777947,0.828012,0.826323,0.755175,0.797857,0.028120,9
31,0.402378,0.017162,0.014793,0.001712,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.808441,0.768307,0.826984,0.830956,0.758951,0.798728,0.029796,5

In [23]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=float(input("Sex_Male 0 or 1:"))
smoker_yes_input=float(input("Smoker_Yes 0 or 1:"))

Age:34
BMI:45
Children:3
Sex_Male 0 or 1:1
Smoker_Yes 0 or 1:0

In [24]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[16614.3]