In [1]:
#Import The Libraries

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("mr_datasheet2014.csv")

In [4]:
dataset

,District_Name,Crop/Year,Winter/Summer,Rice,Area_Hectares,Production_Tonnes
0,AURANGABAD,2014,Kharif,Arhar/Tur,32900,8700.0
1,AURANGABAD,2014,Kharif,Bajra,45300,24200.0
2,AURANGABAD,2014,Kharif,Cotton(lint),101675,61475.0
3,AURANGABAD,2014,Kharif,Groundnut,4100,900.0
4,AURANGABAD,2014,Kharif,Jowar,3700,1700.0
...,...,...,...,...,...,...
146,OSMANABAD,2014,Rabi,Wheat,24100,7100.0
147,OSMANABAD,2014,Summer,Groundnut,1900,800.0
148,OSMANABAD,2014,Summer,Maize,1300,NaN
149,OSMANABAD,2014,Summer,Sunflower,500,200.0
150,OSMANABAD,2014,Whole Year,Sugarcane,39800,61475.0

In [ ]:
#Mr.Datasheet 2014(Crop/Year, Production)
#Mr.Datasheet 2014, "Data" refers to the identification of a Crop/Year or condition based on its Areo of Hectares and Production_Tonnes

In [ ]:
#Attribute Information:

#A) District_Name (mean of distances from center to points on the perimeter)

#B) Crop_Year (standard deviation of gray-scale values)

#C) Weather (based on pedict whether the climate changes)

#D) Rice (mean of cultivation depends upon the climate condition)

#E) Area_Hectares (local variation in radius lengths)

#F) Production_Tonnes ( based on Crop/Year to diiferentiat the production)